<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>SmartChat {{ page-title }}</title>

    <link rel="stylesheet" href="css/style_index.css" />
  </head>
  <body>
    <div class="bg-image">
      <div class="bg-text">
        <h1>SmartChat</h1>
      </div>
      <div class="button">
        <a href="login">
          <button class="left">Login</button>
        </a>
        <a href="register">
          <button class="right">Register</button>
	</a>
      </div>
      <div class="description">
        <p>
	This is a great secure chat. It was developed by my grandfather from Armenia. He was a programmer under Stalin and is well versed in encryption technologies. Our modern IT people have tweaked the blockchain to it, so now it's a super cool trendy secure chat!
        </p>
      </div>
    </div>
  </body>
</html>
