<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>SmartChat {{page-title}}</title>
    <link rel="stylesheet" href="css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <main>
            <div class="registaton_container">
                <h1 class="main_text">SmartChat</h1>
                <div class="reg_name">
                    <label for="">login</label>
                </div>
                <form id="login">
                    <div class="group">
                        <div class="name">
				<!--<form name="form_of_contact" action="">-->
                                <input id="login-username" value="" name="nameInput" type="text" placeholder="Your name" class="">
				<!--</form>-->
                        </div>
                    </div>
                    <div class="group">
                        <div class="password">
				<!--<form name="form_of_contact" action="">-->
                                <input id="login-password" value="" name="nameInput" type="password" placeholder="Your password" class="">
				<!--</form>-->
                        </div>
                    </div>    
                </form>
            <div style="text-align: center; justify-content: center;">
                    <button id="login_btn" class="button" style="height: 50px; width:200px; font-size: 30px; text-align:center; justify-content: center; font-family: Mulish, sans-serif;">
                        Login
                    </button>
                </div> 
        </main>
    </div>
    <script src="js/login.js"></script>
    <script>
        function myFunction(KeyframeEffect) {
        var x = document.getElementById("myInput1");
        if (x.type === "password") {
        x.type = "text";
        } else {
        x.type = "password";
        }
        }
        function myFunction(KeyframeEffect) {
        var x = document.getElementById("myInput2");
        if (x.type === "password") {
        x.type = "text";
        } else {
        x.type = "password";
        }
        }    
    </script>
</body>
</html>
